Repository AdrianRoszak/akademia-gimnastyki-astro: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, check, stylelint

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.{ts,tsx,astro,js,cjs,mjs,d.cts,d.mts,jsx,json,jsonc}"
      run: pnpm format
    lint: 
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}"
      run: pnpm lint
      stage_fixed: true
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    stylelint:
      glob: "*.{css,scss,sass,less}"
      run: npx stylelint {staged_files}
      stage_fixed: true
commit-msg:
  commands:
    lint-commit-message:
      run: npx commitlint --edit

feat: add lead
  src/pages/dyscypliny/[slug].astro
Due: format, lint, check

feat: style checkbox
  lefthook.yml
  src/styles/scss/components/molecules/_form-checkbox.scss
  src/styles/scss/components/molecules/_index.scss
Due: stylelint

feat: style submit
  src/styles/scss/components/molecules/_form-checkbox.scss
Due: stylelint

refactor: update gtm
  src/layouts/Layout.astro
Due: format, lint, check

feat: digest registration item for camp
  src/data/digests/digest-camps-data.ts
  src/data/get-activities-nav.ts
  src/data/queries/query-camps-page-data.ts
  src/pages/obozy/[slug].astro
  src/styles/scss/components/molecules/_form-checkbox.scss
Due: format, lint, check, stylelint

refactor: remove unused code
  src/data/get-summer-camps-data.ts
  src/utils/image-parallax.ts
  src/utils/url-for-image.ts
Due: format, lint, check

fix: add missing type
  src/data/get-summer-camps-data.ts
Due: format, lint, check

refactor: update minor and patches
  package.json
  pnpm-lock.yaml
Due: format, lint, check

feat: update sanity ecosystem deps
  package.json
  pnpm-lock.yaml
  src/data/queries/query-global-data.ts
Due: format, lint, check

refactor: upgrade deps, scss migrations
  biome.json
  package.json
  pnpm-lock.yaml
  src/styles/scss/components/atoms/_container.scss
  src/styles/scss/components/molecules/_button.scss
  src/styles/scss/components/molecules/_shop-tile.scss
  src/styles/scss/components/organisms/_tiles-wrapper.scss
  src/styles/scss/styles.scss
  src/styles/scss/theme/partials/_typography.scss
  stylelint.config.cjs
Due: format, lint, check, stylelint

feat: upgrade vite to v6
  package.json
  pnpm-lock.yaml
Due: format, lint, check

feat: upgrade
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/data/get-summer-camps-data.ts
Due: format, lint, check

fix: resolve Vite warnings, Sass deprecations, and Biome config
  astro.config.mjs
  biome.json
  package.json
  pnpm-lock.yaml
  src/styles/scss/components/atoms/_container.scss
  src/styles/scss/theme/partials/_typography.scss
Due: format, lint, check, stylelint

fix: resolve build errors for Vercel deployment
  src/data/get-summer-camps-data.ts
  src/utils/url-for-image.ts
Due: format, lint, check

refactor: exchange link?
  src/pages/polkolonie.astro
Due: format, lint, check
