Repository AdrianRoszak/akademia-gimnastyki-astro: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, check, stylelint

format:
  run: pnpm format

lint:
  run: pnpm lint
  stage_fixed: true

check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

stylelint:
  run: npx stylelint {staged_files}
  stage_fixed: true

refactor: changE
  src/components/molecules/AccountsBlock.astro
Due: format, lint, check

feat: fetch and display summer camp content
  src/data/get-summer-camps-data.ts
  src/pages/polkolonie.astro
Due: format, lint, check

feat: upgrade astro
  package.json
  pnpm-lock.yaml
Due: format, lint, check

feat: add regulation pages
  src/components/organisms/Footer.astro
  src/data/get-regulation-data.ts
  src/data/queries/query-regulation-data.ts
  src/pages/polityka-prywatnosci.astro
Due: format, lint, check

feat: add regulation pages
  src/components/organisms/Footer.astro
  src/pages/regulamin-finansowy-obozy-polkolonie.astro
  src/styles/globals.css
Due: format, lint, check, stylelint

feat: add about us page
  src/data/digests/digest-about-page-data.ts
  src/data/digests/digest-home-page-data.ts
  src/data/digests/index.ts
  src/data/get-about-page-data.ts
  src/data/queries/index.ts
  src/data/queries/query-about-page-data.ts
  src/pages/o-nas.astro
Due: format, lint, check

feat: add animations
  src/components/templates/SectionAboutUsIntro.astro
  src/data/digests/digest-about-page-data.ts
  src/data/queries/query-about-page-data.ts
  src/pages/o-nas.astro
  src/styles/common.css
  src/styles/scss/theme/partials/_colors.scss
  src/utils/animations.ts
  src/utils/highlight-random-word.ts
  src/utils/index.ts
Due: format, lint, check, stylelint

feat: apply styles
  src/components/templates/SectionAbout.astro
  src/components/templates/SectionAboutUsIntro.astro
  src/components/templates/SectionCamps.astro
  src/components/templates/SectionEvents.astro
  src/components/templates/SectionTeam.astro
  src/components/templates/SectionValues.astro
  src/pages/obozy/index.astro
  src/pages/urodziny.astro
  src/styles/common.css
  src/utils/animations.ts
  src/utils/highlight-random-word.ts
  src/utils/index.ts
Due: format, lint, check, stylelint

feat: apply styles
  src/pages/faq.astro
Due: format, lint, check

refactor: extract slider to separate file
  src/components/organisms/TeamSlider.astro
  src/components/templates/SectionTeam.astro
  src/pages/faq.astro
  src/pages/index.astro
  src/pages/o-nas.astro
Due: format, lint, check

refactor: apply animations
  src/components/molecules/TeamMemberTile.astro
  src/components/organisms/TeamSlider.astro
  src/components/templates/SectionAboutUsIntro.astro
  src/components/templates/SectionTeam.astro
  src/pages/index.astro
  src/pages/o-nas.astro
  src/styles/common.css
Due: format, lint, check, stylelint

refactor: update animation classes
  src/styles/common.css
Due: stylelint

refactor: apply animation on home page
  src/components/templates/SectionAbout.astro
  src/components/templates/SectionCamps.astro
  src/components/templates/SectionEvents.astro
  src/styles/common.css
Due: format, lint, check, stylelint

refactor: apply animation on home page
  src/components/templates/SectionAbout.astro
  src/components/templates/SectionAboutUsIntro.astro
  src/components/templates/SectionActivities.astro
  src/data/digests/digest-about-page-data.ts
  src/data/queries/query-about-page-data.ts
  src/pages/index.astro
  src/pages/o-nas.astro
  src/pages/urodziny.astro
  src/styles/common.css
  src/utils/animations.ts
  src/utils/image-parallax.ts
  src/utils/index.ts
Due: format, lint, check, stylelint

feat: apply animations
  src/components/templates/SectionActivities.astro
  src/components/templates/SectionValues.astro
  src/styles/common.css
Due: format, lint, check, stylelint

refactor: adjustments
  src/components/organisms/Header.astro
  src/components/templates/SectionAbout.astro
Due: format, lint, check

feat: add credentials in footer
  src/components/organisms/Footer.astro
Due: format, lint, check

fix: remove github actions
  .github/workflows/build-and-deploy.yml
Due: none

feat: upload about us deco image
  src/components/templates/SectionAbout.astro
  src/data/digests/digest-about-page-data.ts
  src/data/digests/digest-home-page-data.ts
  src/data/queries/fragments/about_us_fragment.ts
  src/data/queries/fragments/index.ts
  src/data/queries/query-home-page-data.ts
Due: format, lint, check

feat: add reference to shop
  src/components/organisms/Header.astro
Due: format, lint, check

fix: apply smaller font-size for smaller devices
  src/components/organisms/Header.astro
Due: format, lint, check

feat: create activity page
  src/components/templates/SectionActivities.astro
  src/data/digests/digest-home-page-data.ts
  src/data/get-activity-page-data.ts
  src/data/get-activity-page-slugs.ts
  src/data/queries/index.ts
  src/data/queries/query-activity-page.ts
  src/data/queries/query-home-page-data.ts
  src/pages/dyscypliny/[slug].astro
Due: format, lint, check

refactor: edit credentials
  src/components/organisms/Footer.astro
Due: format, lint, check

refactor: comment unused code
  src/components/templates/SectionActivities.astro
Due: format, lint, check

feat: add add description to value
  src/components/templates/SectionValues.astro
  src/data/digests/digest-home-page-data.ts
  src/data/queries/query-about-page-data.ts
Due: format, lint, check

feat: updte deps && add zapisy lead
  package.json
  pnpm-lock.yaml
  src/pages/zapisy/[slug].astro
  src/styles/common.css
  src/styles/globals.css
  src/styles/main-banner-swiper.css
  src/styles/reset.css
Due: format, lint, check, stylelint

feat: render info page
  src/data/digests/utils/index.ts
  src/data/digests/utils/secure-image.ts
  src/data/get-info-page-data.ts
  src/pages/info.astro
Due: format, lint, check

fix: fix digest function
  src/components/templates/SectionValues.astro
  src/data/digests/utils/secure-image.ts
  src/data/get-info-page-data.ts
  src/pages/info.astro
Due: format, lint, check

feat: add download button
  package.json
  pnpm-lock.yaml
  src/data/digests/utils/secure-image.ts
  src/data/get-info-page-data.ts
  src/pages/info.astro
  src/utils/url-for-image.ts
Due: format, lint, check

refactor: add margin bottom
  src/pages/info.astro
Due: format, lint, check

refactor: some changes
  src/pages/info.astro
Due: format, lint, check

feat: update astro
  package.json
  pnpm-lock.yaml
Due: format, lint, check

feat: display data
  src/components/organisms/Banner.astro
  src/data/digests/digest-home-page-data.ts
  src/data/get-activity-page-data.ts
  src/pages/dyscypliny/[slug].astro
Due: format, lint, check

feat: render activity page
  src/data/digests/digest-activity-data.ts
  src/data/digests/index.ts
  src/data/get-activity-page-data.ts
  src/data/queries/query-activity-page.ts
  src/pages/dyscypliny/[slug].astro
Due: format, lint, check

feat: add nested navigation
  src/components/organisms/Header.astro
  src/components/templates/SectionActivities.astro
  src/data/get-activities-nav.ts
Due: format, lint, check

refactor: remove past camps
  src/components/organisms/Header.astro
  src/pages/obozy/index.astro
Due: format, lint, check

fix: add ignore
  src/data/digests/digest-activity-data.ts
Due: format, lint, check

fix: correct field name to be used in page heading
  src/data/get-summer-camps-data.ts
Due: format, lint, check

feat: fetch and display camp gallery
  src/data/digests/digest-camps-data.ts
  src/data/queries/query-camps-page-data.ts
  src/pages/dyscypliny/[slug].astro
  src/pages/obozy/[slug].astro
Due: format, lint, check

Path conditions:
  format: any of: *.{ts,tsx,astro,js,cjs,mjs,d.cts,d.mts,jsx,json,jsonc}
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}
  stylelint: any of: *.{css,scss,sass,less}
